/* Visual effects */

.title{
    font-size: 300;
    font-weight: 10;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font: 15px 'Courier New';
    line-height: 50px;
    word-spacing: 5px;
    word-wrap: break-all;
}
.block {
    --size: 300px;
    width: var(--size);
    height: var(--size);
    background: url(http://bipbap.ru/wp-content/uploads/2017/06/tmb_145037_6611.jpg);
    filter: brightness();
    filter: sepia();
    border: 3px solid red;
    border-radius: var(--size);
}