table {
    /* border-collapse: collapse; */
    /* border: 6px solid black; */
    /* border-top: 3px solid lightcoral;
    border-bottom: 3px solid lawngreen;
    border-left: 3px solid lightseagreen;
    border-right: 3px solid rgb(135, 33, 238); */
    padding: 0px;
    /* padding-left: 2px; */
    border-spacing: 1px;
    border: solid lightslategray;
    background-color: aqua;
    color: brown;
    width: auto;
    height: auto;
    
}
td {
    /* border: 3px solid lightgray; */
    /* border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black; */
    padding: 1px;
    border: solid lightgrey;
    text-align: left;
    vertical-align: middle;
    
}
th {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
caption {
    caption-side: bottom;
    text-align: right;
    font-size: 20px;
}
.row1 {
    background-color: pink;
}
.not {
    width: 200px;
    height: 100px;
}