h3{
    color: blueviolet
}
#myid {
    color: brown;
}
.rule {
    color: aqua
}
.bg-red:not(li) {
    background: red;
}
.balance::after{

    content: attr(data-curency);
    color: green;
}

.block { 
    --width: 100px;
    --height: 100px;

    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    background: green;
}
